@mixin flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges-container {
  @include flexy;
  padding: 15px;
  color: var(--text-color);
  flex-direction: column;

  .badges-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .badges-body {
    @include flexy;
    width: 100%;
    padding-top: 50px;
    flex-direction: column;

    .number {
      font-size: 100px;
      line-height: 100px;
      color: var(--primary-color);
    }

    .description {
      font-size: 18px;
      color: var(--text-color);
    }
  }

  .badges-footer {
    width: 100%;

    .footer-text {
      @include flexy;
      padding-top: 24px;
      font-size: 10px;
      justify-content: space-around;
      color: var(--text-color);
      width: 100%;

      .dot {
        background-color: var(--primary-color);
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
  }
}
