.achievement-modal-container {
  color: var(--text-color);
  background-color: var(--background-color);
}
.title {
  display: flex;
  justify-content: center;
}
.title-text {
  font-size: 18px;
  padding: 10px;
}
.mat-select-placeholder {
  color: tomato;
}
.select {
  border-bottom: 1px solid var(--text-color);
  height: 20px;
  margin: 10px 0 10px 0;
}
.message {
  width: 100%;
}
.label {
  color: var(--text-color);
}

.cancel {
  display: flex;
  justify-content: flex-end;
}
.cancel-button {
  color: var(--primary-color);
}
.cancel-button:hover {
  cursor: pointer;
}
.submit {
  display: flex;
  justify-content: center;
}
.submit-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 0;
  box-shadow: none;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled {
  background-color: var(--primary-color);
}
