.badges-container {
  padding: 15px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.badges {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.badges-body {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 100px;
  line-height: 100px;
  color: var(--primary-color);
}

.description {
  font-size: 18px;
  color: var(--text-color);
}

.badges-footer {
  width: 100%;
}

.footer-text {
  padding-top: 24px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  width: 100%;
}

.dot {
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
