@mixin flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks-container {
  @include flexy();
  padding: 15px;
  color: var(--text-color);
  flex-direction: column;

  .thanks-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .title {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
    }
  }

  .thanks-body {
    @include flexy();
    width: 100%;
    padding-top: 20px;
    flex-direction: column;

    .star-image {
      width: 150px;
      height: 150px;
    }

    .description {
      font-size: 14px;
      color: var(--text-color);
    }
  }

  .thanks-footer {
    @include flexy();

    .footer-image {
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
      background-position: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: cover;
    }

    .username {
      margin-left: 5px;
      color: var(--primary-color);
    }
  }
}
