@import "../colors/colors.scss";

.mat-menu-panel {
  background: $background-color;
  color: $text-color;
}

.mat-button-focus-overlay {
  display: none;
}

/* top-chart components css */
.chart-container .user-info .mat-list-base .mat-list-item .mat-line {
  display: flex;
  flex-direction: column;
}

.chart-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px;
}

.chart-container .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
  height: 40px;
  width: 100%;
  margin: 2px 0;
}

.chart-container .mat-list-base {
  padding-top: 0;
}

.chart-container .mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px;
}

.chart-container .mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px;
  color: $text-color;
}

.chart-container .mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
  width: 30px;
  height: 30px;
}

.chart-list .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 40px;
}

.chart-list {
  padding-top: 26px;
  width: 50%;
}

.chart-list .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  align-items: center;
}

/* personal-achievement component */
.personal-achievements-container .mat-list-item {
  font-size: 14px;
  color: $text-color;
  height: 60px;
  display: flex;
}

.personal-achievements-container
  .mat-list-base
  .mat-list-item
  .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0;
  height: 42px;
  width: 100%;
}

.personal-achievements-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 56px;
  display: flex;
  align-items: center;
}

.personal-achievements-container .mat-list-base .mat-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: 60px;
  display: flex;
  align-items: center;
}

.personal-achievements-container .mat-list-base {
  padding-top: 6px;
}

.personal-achievements-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px;
}

.personal-achievements-container
  .mat-list-base
  .mat-list-item
  .mat-list-text
  > * {
  display: flex;
  flex-direction: column;
}

/* Request-achievement-modal */
.request-dialog-container .mat-dialog-container {
  background-color: $background-color;
  padding: 15px;
  border-radius: 15px;
}

.select .mat-select-arrow {
  color: $text-color;
}

.achievement-modal-container .mat-select-placeholder {
  color: $text-color;
  font-size: 14px;
}

.achievement-modal-container .mat-form-field-underline {
  background-color: $text-color;
}

.achievement-modal-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: $text-color;
}

.achievement-modal-container .mat-input-element {
  caret-color: $text-color;
}

.mat-select-panel {
  background-color: $background-color;
}

.mat-option-text {
  color: $text-color;
}

.mat-select-value {
  color: $text-color;
}

/* User profile dialog  */
.user-dialog-container .mat-dialog-container {
  background-color: $background-color;
  padding: 0;
  border-radius: 15px;
}

// Say thanks dialog

.thanks-dialog-container .mat-dialog-container {
  background-color: $background-color;
  padding: 0;
  border-radius: 15px;
  width: 350px;
}

.thanks-container .mat-form-field-underline {
  background-color: $text-color;
}

.thanks-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: $text-color;
}

.thanks-container .mat-input-element {
  caret-color: $text-color;
}

//Profile Edit Dialog

.edit-profile-dialog-container .mat-dialog-container {
  background-color: $background-color;
  padding: 0;
  border-radius: 15px;
}

.cdk-overlay-pane.edit-profile-dialog-container {
  position: relative !important;
}

.user-profile-container .mat-form-field-underline {
  background-color: $text-color;
}

.user-profile-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: $text-color;
}

.user-profile-container .mat-form-field-underline {
  border-bottom: 1px solid $text-color;
}

.user-profile-container .mat-form-field-placeholder {
  color: $text-color;
}

.user-profile-container .mat-input-element {
  caret-color: $text-color;
}

.user-profile-container .mat-form-field.mat-focused .mat-form-field-label {
  color: $text-color;
}

.user-profile-container .mat-form-field-label {
  color: $text-color;
}

.user-profile-container .mat-input-element {
  color: $text-color;
}

/* last-achievement component */
.last-achievements-container .mat-list-item {
  font-size: 14px;
  color: $text-color;
  height: 60px;
  display: flex;
}

.last-achievements-container
  .mat-list-base
  .mat-list-item
  .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0;
  height: 42px;
  width: 100%;
}

.last-achievements-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 56px;
  display: flex;
  align-items: center;
}

.last-achievements-container .mat-list-base .mat-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: 60px;
  display: flex;
  align-items: center;
}

.last-achievements-container .mat-list-base {
  padding-top: 6px;
}

.last-achievements-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px;
}

.last-achievements-container .mat-list-base .mat-list-item .mat-list-text > * {
  display: flex;
  flex-direction: column;
}

//achievements-list
.achievement-list-container .mat-list-item {
  color: $text-color;
}

.achievement-list-container .mat-list-item-content {
  height: 56px;
}

//SIGN IN

.sign-in-container .mat-form-field-underline {
  background-color: $text-color;
}

.sign-in-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: $text-color;
}

.sign-in-container .mat-form-field-placeholder {
  color: $text-color;
}

.sign-in-container .mat-input-element {
  caret-color: $text-color;
}

.sign-in-container .mat-form-field.mat-focused .mat-form-field-label {
  color: $text-color;
}

.sign-in-container .mat-form-field-label {
  color: $text-color;
}

.sign-in-container .mat-input-element {
  color: $text-color;
}
