.mat-menu-panel {
  background: var(--background-color);
}

.mat-button-focus-overlay {
  display: none;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
  height: 40px;
  width: 100%;
  margin: 2px 0;
}
.mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px;
}
.mat-list-item-content {
  padding: 0 0;
}
