<div class="achievements-container">
  <div class="achievements-header">
    <span class="title">Exoft ACHIEVEMENTS</span>
    <span>80</span>
  </div>

  <div class="challenges-body">
    <div class="challenge-item" *ngFor="let achievement of achievements">
      <div class="challenge-item-header">
        <span class="username">Taras Chervinka</span>
        <span class="time">0 mins ago</span>
      </div>
      <div class="challenge-item-body">
        <span class="achivement-info">Got Achievement turbo power</span>
        <div class="records-button">
          <a mat-raised-button class="records">Records</a>
        </div>
      </div>
    </div>
  </div>
</div>
