<div class="achievements-container">
  <div class="achievements-header">
    <span class="title">Exoft ACHIEVEMENTS</span>
    <span>80</span>
  </div>

  <div class="challenges-body">
    <div class="challenge-item" *ngFor="let achievement of achievements">
      <div class="challenge-item-header">
        <span class="username">Taras Chervinka</span>
        <span class="time">0 mins ago</span>
      </div>
      <div class="challenge-item-body">
        <span>Got Achievement turbo power</span>
        <a mat-raised-button class="records-button">Records</a>
      </div>
    </div>
  </div>
</div>
