@import "../../../../../assets/colors/colors.scss";

.achievement-list-container {
  padding: 15px;
  color: $text-color;
  height: 456px;
  overflow-y: auto;

  .achievement-list-header {
    display: flex;
    justify-content: center;
    .title {
      font-size: 22px;
    }
  }

  .achievement-list-body {
    display: flex;
    padding-top: 20px;
    color: $text-color;

    .mat-table {
      width: 100%;
      background-color: $background-color;

      .mat-header-cell.cdk-header-cell.cdk-column-Achievement.mat-column-Achievement {
        width: 70%;
      }
      .mat-header-cell.cdk-header-cell.cdk-column-Date.mat-column-Date {
        padding-left: 84px;
      }

      .mat-cell.cdk-cell.cdk-column-Date.mat-column-Date {
        padding-left: 70px;
      }

      .mat-cell.cdk-cell.cdk-column-XP-points.mat-column-XP-points {
        padding-left: 10px;
      }

      td.mat-cell {
        padding: 15px;
        border-bottom-style: none;
        color: $text-color;
      }

      th.mat-header-cell {
        font-size: 16px;
        border-bottom-style: none;
        color: $text-color;
      }

      .name {
        display: flex;
        align-items: center;
        .title {
          padding-left: 10px;
        }
        .image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}
