mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: rgb(65, 71, 81);
  width: 250px;
}
.mat-toolbar {
  background-color: rgb(65, 71, 81);
  color: #fff;
}
.sidenav-container-header {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  align-items: center;
  height: 64px;
}
.sidenav-container-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 40px;
}
.mat-toolbar {
  display: flex;
  justify-content: space-between;
}
.router-link-active {
  border-top: rgb(82, 200, 0) solid 4px;
  border-radius: 0;
  color: rgb(82, 200, 0);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-toggle-button {
  margin-left: 60px;
}
.nav-toggle-button .material-icons {
  font-size: 16px;
}
::ng-deep .logout-menu {
  background: rgb(65, 71, 81);
}
button.mat-menu-item {
  color: #fff;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}
.header-image {
  background-image: url("../../assets/images/avatar.png");
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 10px;
}
.logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-icon .material-icons {
  display: flex;
  justify-content: center;
  font-size: 32px;
}
.sidenav-container-image {
  background-image: url("../../assets/images/avatar.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.sidenav-container-button {
  margin-top: 8px;
  width: 144px;
  background-color: rgb(82, 200, 0);
  color: #fff;
}
.total {
  margin-top: 16px;
}
.achievements {
  color: rgb(82, 200, 0);
  font-size: 18px;
}
.container-active {
  text-decoration: underline rgb(82, 200, 0) 4px;
  text-underline-offset: 0.2em;
  color: rgb(82, 200, 0);
}
.sidenav-navigation-item {
  font-size: 24px;
  font-weight: 300;
}
.mat-drawer-content {
  background-color: rgb(50, 50, 50);
}
