mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #673ab7;
  width: 250px;
}
.container {
  display: flex;
  justify-content: center;
  color: #fff;
}
.mat-toolbar {
  display: flex;
  justify-content: space-between;
}
.router-link-active {
  border-top: #89c843 solid 4px;
  border-radius: 0;
  color: #89c843;
}
.menu {
  display: flex;
  align-items: center;
}
