.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  background-color: var(--background-color);
  width: 250px;
}

.sidenav-container-header {
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  align-items: center;
  height: 64px;
}

.sidenav-container-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  padding-top: 40px;
}

.sidenav-container-image {
  background-image: url("../../assets/images/avatar.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-sidenav-container .sidenav-container-button {
  margin-top: 8px;
  width: 144px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.total {
  margin-top: 16px;
}

.achievements {
  color: var(--primary-color);
  font-size: 18px;
}

.sidenav-navigation-item {
  font-size: 24px;
  font-weight: 300;
}

.mat-sidenav-container .container-active {
  text-decoration: underline var(--primary-color) 4px;
  text-underline-offset: 0.2em;
  color: var(--primary-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-image {
  background-image: url("/assets/images/avatar.png");
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  font-size: 12px;
}

.logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-icon .material-icons {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-toolbar .router-link-active {
  border-top: var(--primary-color) solid 4px;
  border-radius: 0;
  color: var(--primary-color);
}

.mat-sidenav-container .nav-toggle-button {
  margin-left: 54px;
}

.nav-toggle-button .material-icons {
  font-size: 16px;
}

button.mat-menu-item {
  color: var(--text-color);
}

.mat-button-focus-overlay {
  display: none;
}

.mat-drawer-content {
  background-color: rgb(50, 50, 50);
}
