<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" opened>
    <div class="container">
      <h3>Sidenav</h3>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="menu">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>GMFCTN!</span>
      </div>
      <div>
        <a
          mat-button
          class="navigation-item"
          routerLink="dashboard"
          routerLinkActive="router-link-active"
        >
          Dashboard
        </a>
        <a
          mat-button
          class="navigation-item"
          routerLink="badges"
          routerLinkActive="router-link-active"
        >
          Badges
        </a>
        <a mat-button class="navigation-item" routerLink="" routerLinkActive="">
          Order
        </a>
      </div>
      <span>Taras Chervinka</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
