.user-profile-container {
  .profile-settings {
    font-size: 22px;
    top: -20px;
    left: -180px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transform: translate(100%, -100%);
    position: absolute;
    .icon {
      color: grey;
    }
    .icon:hover {
      cursor: pointer;
    }
    .text {
      padding-left: 10px;
    }
  }

  .change-info-container {
    .fields {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
    .fullName {
      display: flex;
      padding-top: 20px;
    }

    .save-button {
      background-color: var(--primary-color);
      color: var(--text-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      border-radius: 0;
      box-shadow: none;
      padding: 5px 0 5px 0;
      margin-top: 60px;
    }
  }
}
.user-profile-container::after {
  content: "";
  white-space: pre;
  display: inline-block;
  width: 100px;
  top: 50px;
  right: 130px;
  height: 100px;
  transform: translate(100%, -100%);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  object-fit: cover;
  background-image: url("/assets/images/avatar.png");
  position: absolute;
  border: 1px solid var(--primary-color);
}
