<div class="user-profile-container">
  <div class="profile-settings">
    <mat-icon class="icon" [mat-dialog-close]="true">arrow_back</mat-icon>
    <span class="text">Profile settings</span>
  </div>
  <form class="change-info-container">
    <div class="fields">
      <div class="fullName">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>

          <input matInput autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>

          <input matInput autocomplete="off" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>

        <input matInput autocomplete="off" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>

        <input matInput autocomplete="off" />
      </mat-form-field>
    </div>
    <a mat-raised-button class="save-button" type="submit" disabled
      >SAVE CHANGES</a
    >
  </form>
</div>
