<div class="achievements-container">
  <div class="achievements-header">
    <span class="title">EXOFT ACHIEVEMENTS</span>

    <span class="xp-count">80</span>
  </div>

  <div class="achievements-body">
    <div class="achievements-item" *ngFor="let achievement of achievements">
      <div class="achievements-item-header">
        <span class="username">Taras Chervinka</span>

        <span class="time">{{ achievement.granted | timeWhen }}</span>
      </div>
      <div class="achievements-item-body">
        <span class="achivement-info">{{ achievement.title }}</span>

        <div class="records-button">
          <a mat-raised-button class="records">Records</a>
        </div>
      </div>
    </div>
  </div>
</div>
