.chart-container {
  padding: 15px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .chart-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .title {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
    }
  }

  .chart-body {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .user-info {
      display: flex;
      flex-direction: column;
      width: 40%;

      .user-info-heads {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: var(--primary-color) solid 1px;
        color: var(--primary-color);
      }

      .user-list {
        width: 100%;
      }
    }

    .bar {
      height: 28px;
    }
  }
}
