mat-grid-list {
  margin: 10px;
}
mat-grid-tile {
  background-color: var(--background-color);
}
.greetings {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
.personal-achievements {
  width: 100%;
  height: 100%;
}
.thanks {
  width: 100%;
  height: 100%;
}
.badges {
  width: 100%;
  height: 100%;
}
.exoft-achievements {
  width: 100%;
  height: 100%;
}
.challenges {
  width: 100%;
  height: 100%;
}
.top-chart {
  width: 100%;
  height: 100%;
}
