@import "../../../../../assets/colors/colors.scss";

mat-grid-list {
  margin: 10px;

  mat-grid-tile {
    background-color: $background-color;

    .greetings {
      background-color: $primary-color;
    }
  }
}
