@import "assets/colors/colors.scss";
@import "assets/material-styles/material-styles.scss";

html,
body {
  height: 100%;
  background-color: #000;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
