.chart-container {
  padding: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.title {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.chart-body {
  width: 100%;
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.chart-container .user-info .mat-list-base .mat-list-item .mat-line {
  display: flex;
  flex-direction: column;
}

.user-info-heads {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-color) solid 1px;
  color: var(--primary-color);
}

.user-list {
  width: 100%;
}

.bar {
  height: 28px;
}

.chart-container
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text {
  padding-left: 8px;
}

.chart-container .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
  height: 40px;
  width: 100%;
  margin: 2px 0;
}
.chart-container .mat-list-base {
  padding-top: 0;
}
.chart-container .mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px;
}

.chart-container .mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px;
  color: var(--text-color);
}

.chart-container .mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
  width: 30px;
  height: 30px;
}

.chart-list .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 40px;
}

.chart-list .mat-list-base {
  padding-top: 24px;
}

.chart-list .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  align-items: center;
}
